/* CSS declarations go here 
h1 {
	background-color: lightgray;
	color: black;
	text-align: center;
}

.button {
	background-color: darkgray;
	color: black;
}

:disabled {
	background-color: lightgray;
	color: gray;
} */