<!-- 
<template name="welcome">  
  <h1>Welcome to Meal Tracker </h1> 
  {{> loginButtons}}
  <hr />{{#if currentUser}}
  <h3>Add a food item to the food list</h3>
  {{> addFood}}
  <h3>Add a meal with calories and carbohydrates consumed</h3>
  {{> addMeal}}
  {{/if}}
</template>

<template name="mealTracker">
  <form>
    Date:
    <input class="date" type="date" />
    <br />
    <br /> Search Food:
    <input name="foodSearch" id="foodSearch" class="search" type="select" placeholder="Food item" />
    <button id="goButton" class="button" type="button">Go</button>
    <br /> <br />
    <button id="addMealButton" class="button" type="button" disabled>Add Meal</button>
    
  -->  
   
    <!--  Meal: <select class="meal" type="text" ></select> -->
  <!--
  </form>

</template>
<template name="addFood">
  <form>
    <div>
      Food Item: 
      <input name="fooditem" type="text" />
      <br /><br />Carbohydrates:
      <input name="carbohydrates" type="number" />
      <br /><br />Calories:
      <input name="calories" type="number" />
      <br /><br />Serving size:
       <input name="servingsize" type="number" />
      <br /><br />
    </div>
     <button id="addFoodButton" class="button" type="submit">Add Food</button>   
  </form>
  
</template>





<template name="foodList">
  {{#if Template.subscriptionsReady}}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Carbohydrates</th>
        <th>Calories</th>
        <th>Serving Size</th>
      </tr>
    </thead>
    <tbody>
      {{#each foods}}
      <tr>
        <td>{{name}}</td>
        <td>{{carbohydrates}}</td>
        <td>{{calories}}</td>
        <td>{{servingSize}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}} loading foods... {{/if}}
  <button class="selectFood">Select</button>
</template>  -->